:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: hsla(0, 0%, 100%, 0.87);
  background-color: #151525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a2e;
  height: 8vh;
  width: 100%;
  padding: 10px;
  box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
  border-radius: 12px;

  .logo-portafolio {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
  }
}

.section-main {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-height: 80vh;
  height: 79vh;
  gap: 6px;
  margin-bottom: 10px;

  /* Aboutme */
  .aboutme-section {
    display: flex;
    flex-direction: column;
    background-color: #1a1a2e;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    width: 25%;
    height: auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    gap: 10px;
  
    h2 {
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      line-height: 1.6;
    }

    .info-list {
      list-style: none;
      padding: 0;
      margin-top: 10px;
    }

    .info-list li {
      margin: 5px 0;
      font-size: 14px;
    }

  }

  .projects_education-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 8px;
    flex-wrap:  wrap;
    height: auto;
    background-color: #1a1a2e;
    padding: 10px;
    gap: 20px;

    .navegation-container{
      padding: 15px;
      display: flex;
      gap: 20px;
      height: 9vh;
      width: 100vw;

      button {
        padding: 10px;
        background-color: #1a1b32;
        border-radius: 12px;
        overflow: hidden;
        margin: 3px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        color: white;
        cursor: pointer;
      }
    }

    .proyectos-container,
    .educacion-container {
      display: flex;
      align-items: start;
      gap: 20px;
      flex: 1 1 35%;
      flex-direction: row;
      flex-wrap: wrap;
      box-sizing: border-box;

      .card-container {
        padding: 10px;
        background-color: #1d1d36;
        border-radius: 12px;
        overflow: hidden;
        margin: 3px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        .card-image {
          width: 100%;
          height: 180px;
          object-fit: cover;
        }

        .card-content {
          display: flex;
          flex-direction: column;
          padding: 15px;
          color: white;
          text-align: center;
          gap: 10px;

          h4 {
            margin: 0;
            font-size: 14px;
            color: #aaa;
          }

          h2 {
            margin: 5px 0 10px;
            font-size: 22px;
          }

          .card-button{
            margin-top: 10px;
            background-color: #77dd77;
            color: #000;
            border: none;
            border-radius: 4px;
            padding: 8px 40px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
          }

        }



      }

      .card-container:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }


    }

  }  

}


/*  ======== Footer ======= */

.footer {
  background-color: #1d1d34;
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: auto;
  border-top: 1px solid #333;
  bottom:  0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #77dd77; /* Verde claro */
}


@media screen and (max-width: 480px) {

  .topbar {
    box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    margin: 0px 10px;
    width: 95vw;
    background-color: red;
    border-radius: 3px;

    .logo-portafolio {
      display: flex;
      align-items: center;
      color: white;
      font-size: 15px;
    }
  }

  .section-main {
      flex-direction: column;
      width: 100vw;
      max-height: 80vh;
      height: 79vh;
      gap: 6px;
      margin-bottom: 10px;
      padding: 0px 10px;
  
      /* Aboutme */
      .aboutme-section {
        display: flex;
        align-items: center;
        text-align: justify;
        background-color: #1a1a2e;
        padding: 10px 20px;
        border-radius: 8px;
        color: white;
        width: 100%;
        height: auto;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
        gap: 10px;
  
        h2 {
          margin-bottom: 20px;
        }
  
        p {
          font-size: 14px;
          line-height: 1.6;
        }
  
        .info-list {
          list-style: none;
          padding: 0;
          margin-top: 10px;
        }
  
        .info-list li {
          margin: 5px 0;
          font-size: 14px;
        }
  
      }
  
      .projects_education-section {
        display: flex;
        flex-direction: column;
        width: 75%;
        border-radius: 8px;
        flex-wrap: wrap;
        height: auto;
        background-color: #1a1a2e;
        padding: 10px;
        gap: 20px;
  
        .navegation-container {
          padding: 15px;
          display: flex;
          gap: 20px;
          height: 9vh;
          width: 100vw;
  
          button {
            padding: 10px;
            background-color: #1a1b32;
            border-radius: 12px;
            overflow: hidden;
            margin: 3px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            color: white;
            cursor: pointer;
          }
        }
  
        .proyectos-container,
        .educacion-container {
          display: flex;
          align-items: start;
          gap: 20px;
          flex: 1 1 35%;
          flex-direction: row;
          flex-wrap: wrap;
          box-sizing: border-box;
  
          .card-container {
            padding: 10px;
            background-color: #1d1d36;
            border-radius: 12px;
            overflow: hidden;
            margin: 3px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
  
            .card-image {
              width: 100%;
              height: 180px;
              object-fit: cover;
            }
  
            .card-content {
              display: flex;
              flex-direction: column;
              padding: 15px;
              color: white;
              text-align: center;
              gap: 10px;
  
              h4 {
                margin: 0;
                font-size: 14px;
                color: #aaa;
              }
  
              h2 {
                margin: 5px 0 10px;
                font-size: 22px;
              }
  
              .card-button {
                margin-top: 10px;
                background-color: #77dd77;
                color: #000;
                border: none;
                border-radius: 4px;
                padding: 8px 40px;
                font-size: 14px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                text-decoration: none;
              }
  
            }
  
  
  
          }
  
          .card-container:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          }
  
  
        }
  
      }
  
    }
}